*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, html {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-container {
    height: 96vh;
    width: 98vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    background-color: #fcfcfc;
}
.container-ch{
    padding: 1% 2%;
    height: 90vh;
    width: 90vw;
    background-color: #ece9e9b2;
    display: grid;
    grid-template-columns: 25% 75%;
    @media screen and (min-width: 720px) and (max-width: 1080px) {
      grid-template-columns: 35% 65%;
    }
}